body {
  background-color: black;
  font-family: 'QualcommLight';
  color: #cfb539;
}

.border-container {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    border: 1px solid #cfb539;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 20%;
  z-index: 1;
  background-color: #000;
  text-align: center;
  padding: 20px;
}

.img-responsive {
    max-height: 100%;
}

.title-text {
    font-size: 48pt;
}

.display-all {
    position: absolute;
    left: 0;
    top: 20%;
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

.leaderboard-table {
    font-size: 18pt;
    color: white;
}

.carousel-img {
    margin: 0 auto;
}

// hide on mobile
@media(max-width:320px) {
    .hide-mobile {
        display: none;
        visibility: hidden;
    }
}
