<% if (user) { %>
  <h2>Careers</h2>
  <div class="col-xs-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Software Intern (Summer 2015)
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <h3 class="no-top-margin">Overview</h3>
            <p>100 Best Companies to Work For and headquartered in San Diego, Qualcomm develops, manufactures, markets, licenses, and operates advanced 4G &amp; 3G communications systems and products based on its proprietary digital wireless technologies. To ensure that the entire wireless industry is inspired and continues to evolve, innovate and experience success, Qualcomm develops its technologies and solutions for the purpose of enabling key participants in the wireless value chain.</p>
            <p>Qualcomm has over a hundred of software engineering internships available. As a software engineering intern, you will work with a team of software engineers to develop, implement and maintain software for the most complex wireless devices. With a degree in computer science or engineering, you may be placed in a position anywhere on the Software Development Life Cycle of one of Qualcomm numerous wireless software technologies.</p>
            <h4>Below are examples of roles and technologies that you may work on during your internship:</h4>
            <ul class="panel-left-margin">
              <li>Design &amp; develop embedded, real-time o.s.</li>
              <li>System-level integration issues</li>
              <li>Integrate new features</li>
              <li>Integration &amp; test platforms</li>
              <li>Develop &amp; execute test scenarios</li>
              <li>Android Architecture</li>
              <li>Object Oriented and UI Design</li>
              <li>Linux OS Development</li>
              <li>Linux Kernel/Device Driver Development</li>
            </ul>
            <h4>Technologies:</h4>
            <ul class="panel-left-margin">
              <li>Modem Software: Air interfaces/Data Services/Multimode (CDMA, CDMA2000, OFDMA, LTE)</li>
              <li>OS: Windows, Android, Chrome, Native Platforms (RIM), others</li>
              <li>Multimedia: Video, Display, Audio, Graphic, Core Power, Camera</li>
              <li>LTE (Long-Term-Evolution)</li>
              <li>CoreBSP (Board Support Package): Drivers, Peripherals, Products, &amp; OS</li>
            </ul>
            <h4>Skills/Experience:</h4>
            <p>Relevant skills include a strong C/C++ and object oriented design background, experience with scripting languages such as PERL, UML, and experience with Linux/UNIX, Linux Drivers, Linux Kernel, Mobile SW development in Windows Mobile, Android, design patterns, wireless network protocols such as TCP/IP, SIP, and familiarity with real-time operating systems such as VxWorks.</p>
            <h4>Intern Benefits:</h4>
            <ul class="panel-left-margin">
              <li>Full relocation services (travel, shipping)</li>
              <li>Housing (Pre-selected, fully furnished, 2-bedroom luxury apartment, including utilities &amp;amp; maid service)</li>
              <li>Transportation Allowance (if applicable)</li>
              <li>Great Pay</li>
              <li>Intern Program Exp. (Local trips, Executive Speaker Series, networking/learning, mentorship, surf lessons)</li>
            </ul>
            <h4>Course Work:</h4>
            <p>Courses completed should include but not be limited to: Data Structures, Operating Systems, Object Oriented Analysis and Design, Computer Algorithms, Mathematics, Computer Architecture, Programming.</p>
            <h4>Education:</h4>
            <p>In study towards Bachelors (3.0 GPA or above), or Masters (3.5 GPA or above), in Computer Science, Electrical Engineering, or Computer Engineering.  Must be available for at least 3 months (May-Sept 2015)</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Hardware Intern (Summer 2015)
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <h3 class="no-top-margin">Overview</h3>
            <p>Ranked over 15 years in a row as a top 100 Best Companies to Work For and headquartered in San Diego, Qualcomm develops, manufactures, markets, licenses, and operates advanced 4G &amp; 3G communications systems and products based on its proprietary digital wireless technologies. To ensure that the entire wireless industry is inspired and continues to evolve, innovate and experience success, Qualcomm develops its technologies and solutions for the purpose of enabling key participants in the wireless value chain.</p>
            <p>As a hardware engineering intern at Qualcomm you will work with programmable logic, digital signal processors, microprocessors, and ASICs on high-density circuit cards and gain hands-on knowledge during design validation and system integration. We are also looking for exceptional hardware designers who will design and develop full-custom and semi-custom complex digital and RF/analog ICs for wireless network and communication systems.</p>
            <h4>Below are examples of roles and technologies that you may work on during your internship:</h4>
            <ul class="panel-left-margin">
              <li>RF Hardware Design</li>
              <li>Board and FPGA Design</li>
              <li>Digital ASIC Design-</li>
              <li>Verification/Integration</li>
              <li>RF/Analog/Mixed-Signal IC Design</li>
              <li>Antenna Design</li>
              <li>Power Management IC Design</li>
              <li>Multimedia Architecture Design</li>
            </ul>
            <h4>Relevant skills:</h4>
            <ul class="panel-left-margin">
              <li>Verifying SoC with embedded RISC/DSP processors, communications/networking ASICs</li>
              <li>Verilog or VHDL, C/C++, Tcl/Perl/shell-scripting</li>
              <li>Academic or project experience and/or strong OO programming experience is a plus.</li>
              <li>Knowledge of wireless/wired communications and protocols or graphics/video multimedia is a plus.</li>
              <li>Experience or project work in PLL, LNA, OpAmp, CMOS, ADC/DAC, Cadence, SpectreRF, or Layout is required in RF/Analog/Mixed Signal IC Design.</li>
            </ul>
            <h4>Intern Benefits:</h4>
            <ul class="panel-left-margin">
              <li>Full relocation services (travel, shipping)</li>
              <li>Housing (Pre-selected, fully furnished, 2-bedroom luxury apartment, including utilities &amp;amp; maid service)</li>
              <li>Transportation Allowance (if applicable)</li>
              <li>Great Pay</li>
              <li>Intern Program Exp. (Local trips, Executive Speaker Series, networking/learning, mentorship, surf lessons)</li>
            </ul>
            <h4>Education:</h4>
            <p>In study towards Bachelors (3.0 GPA or above), or Masters (3.5 GPA or above), or PhD (3.75 GPA or above) in Electrical Engineering, or Computer Engineering.  Must be available for at least 3 months</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Systems Engineer (Summer 2015)
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <h3 class="no-top-margin">Overview</h3>
            <p>Ranked over 15 years in a row as a top 100 Best Companies to Work For and headquartered in San Diego, Qualcomm develops, manufactures, markets, licenses, and operates advanced 4G &amp; 3G communications systems and products based on its proprietary digital wireless technologies. To ensure that the entire wireless industry is inspired and continues to evolve, innovate and experience success, Qualcomm develops its technologies and solutions for the purpose of enabling key participants in the wireless value chain.</p>
            <p>As a QUALCOMM systems engineering intern with an advanced degree in electrical or computer engineering, you will work on CDMA ASICs (Application Specific Integrated Circuits) and architect, analyze and simulate cutting-edge, next-generation wireless networks. You will also characterize and improve the performance of networks for voice, packet data, video telephony and video streaming services while identifying functionality for which minimum performance requirements should exist. You may also generate and consolidate performance requirements data and conduct analysis and evaluation of critical performance metrics for 4G and 3G wireless platforms.</p>
            <h4>Roles:</h4>
            <ul class="panel-left-margin">
              <li>Wireless Modem ASIC Systems</li>
              <li>Physical Layer Systems Design</li>
              <li>Audio/Video/Graphics Multimedia</li>
              <li>MAC Layer Systems Design</li>
              <li>Digital Signal Processing</li>
              <li>OFDM Development</li>
            </ul>

            <h4>Relevant Skills:</h4>
            <ul class="panel-left-margin">
              <li>Knowledge of radio communication theory and digital signal processing as well solid background in cellular communication systems across layers.</li>
              <li>Knowledge and/or experience in MIMO, OFDM, CDMA.</li>
              <li>Ability to program effectively in C/C++, Perl and Matlab.</li>
              <li>Experience with wireless standards (GSM, WCDMA, IS-95, IS-2000, 1xEVDO, Bluetooth, WLAN, etc.)</li>
            </ul>

            <h4>Intern Benefits:</h4>
            <ul class="panel-left-margin">
              <li>Full relocation services (travel, shipping)</li>
              <li>Housing (Pre-selected, fully furnished, 2-bedroom luxury apartment, including utilities &amp; maid service)</li>
              <li>Transportation Allowance (if applicable)</li>
              <li>Great Pay</li>
              <li>Intern Program Exp. (Local trips, Executive Speaker Series, networking/learning, mentorship, surf lessons)</li>
            </ul>

            <h4>Education:</h4>
            <p>In study towards Bachelors (3.0 GPA or above), or Masters (3.5 GPA or above), in Computer Science, Electrical Engineering, or Computer Engineering.  Must be available for at least 3 months (May-Sept 2015)</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="https://www.qualcomm.com/careers" target="_blank">
              Qualcomm Careers Site
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
<% } %>
