<% if (user) { %>
  <div class="col-xs-12">
      <h2>Connect</h2>
  </div>
  <div id="connect" class="col-xs-12">
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/Jamie.png">
      <div class="caption">
        <h3>Jamie Lewis</h3>
        <h4>Campus Team</h4>
        <h5><a href="mailto:jalewis@qualcomm.com">jalewis@qualcomm.com</a></h5>
        <h5><strong>Designated School(s) for Recruiting: Purdue &amp; CU Boulder</strong></h5>
        <p>Jamie has approximately 8 years of Human Resources experience either in a Campus Recruiting or Human Resources Manager capacity.  She  joined the Qualcomm Campus Team a couple years ago because of her passion for University Relations and the opportunity to be part of one of the best intern programs in the country.  She currently supports the collegiate hiring at the Qualcomm Bridgewater, Boulder, and Raleigh sites.  Jamie is based in the Raleigh, NC office and graduated from North Carolina State University (Go PACK!) with Bachelor’s degrees in Psychology and Business Management.  For fun – she loves to listen to live music, enjoys riding her bike (short distances only and YES, there is a basket and bell), and trying new local restaurants, breweries, or food trucks.</p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/levi.jpg">
      <div class="caption">
        <h3>Levi Starrett</h3>
        <h4>Computer Science</h4>
        <h5><strong>Standing:  Sophomore</strong></h5>
        <p>Qualcomm Internship: Levi was part of Qualcomm’s Early Identification Program (EIP) that is specifically geared towards freshman. He worked on the APT Linux team building a framework to test Snapdragon Android builds. Outside of work, his favorite activities were eating Mexican food, playing volleyball on any of several San Diego beaches, taking long rides on his motorcycle, and hanging out with friends. He was able to experience several of the extra events Qualcomm provided including the Qualcomm Cup, Day at the Bay, HackMobile, the Thinkabit Lab, and Intern Executive Speaker series.</p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/clyde.jpg">
      <div class="caption">
        <h3>Clyde Byrd III</h3>
        <h4>Computer Science</h4>
        <h5><strong>Standing:  Senior</strong></h5>
        <p>Qualcomm Internship: Clyde was part of the Computer Vision Software team where he optimized and ported Qualcomm FastCV library, an Optimized Computer Vision library, to 64 bit.</p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/jake.jpg">
      <div class="caption">
        <h3>Jake Stevens</h3>
        <h4>Computer Engineering</h4>
        <h5><strong>Standing:  Junior</strong></h5>
        <p>Qualcomm Internship: Jake was part of the Linux Kernel team at Qualcomm Innovation Center during Summer 2014. While there, he worked on implementing the backend necessary to utilize a new RAM governor on ARM v7 and v8 cores. He also submitted an idea that made it to the top 10 in IdeaQuest (Intern Innovation Competition). This means he was given the opportunity to form a team of 5 and use a few work hours, as well as a provided budget, to create a prototype of his idea: a platform that provides an API to crowd sourced data about environmental factors we face every day—or as they called, EnTraq. In addition he participated in a HackMobile (intern hackathon), serv-a-polooza (nationwide intern day of service), visited Potato Chip Rock, and many other fun activities throughout his summer in San Diego.</p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/skubic.jpg">
      <div class="caption">
        <h3>John Skubic</h3>
        <h4>Computer Engineering</h4>
        <h5><strong>Standing:  Junior</strong></h5>
        <p>Qualcomm Internship: John worked for the QNX Auto team.   His project was to build an automated testing framework to streamline the testing process.  This project provided team members the ability to design, execute, and view the results of tests in a simple way.  The team he worked with was welcoming and the atmosphere was positive.  Outside of projects, Qualcomm provided interns with fun ways to develop their own technology through the intern HackMobile (Intern Hackathon) and IdeaQuest (Intern Innovation Competition).</p>
        <p>For the Hackathon, his team created a system for laptops and mobile devices to communicate so that a laptop screen could be used as a monitor and the phones could be used as controllers for video games.  This project utilized Qualcomm’s AllJoyn technology and was presented with the "Best use of Qualcomm technology" award.  Also, he participated in IdeaQuest in which he was a top 10 finalist.  As a result, he got to assemble a team of other interns and they had the opportunity to prototype their idea and pitch it to other Qualcomm employees at a showcase.  He learned two things while participating in IdeaQuest:  #1how to prototype a project in an industry setting #2 how to market a new idea in a way that will catch people's attention. </p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/ed.jpg">
      <div class="caption">
        <h3>Ed Flanagan</h3>
        <h4>Computer Science, Minor English Literature</h4>
        <h5><strong>Standing:  Junior</strong></h5>
        <p>Qualcomm Internship: Two Time Qualcomm Intern! In 2013 Ed was part of Qualcomm’s Early Identification Program (EIP) that is specifically geared towards freshman. He created a Git repository visualization tool in which he made a website to display the visualization and did mostly back-end work.  During the Summer of 2014 he was part of the Linux Kernel team in which he improved Android Ion’s handling of orphan processes, began work on notifier when Android low-memory-killer is called, and tested for kernel memory leaks.</p>
      </div>
    </div>
    <div class="tech-thumbnail thumbnail">
      <img src="/images/qcrew/andres.jpg">
      <div class="caption">
        <h3>Andres Bravo</h3>
        <h4>Computer Science  &amp; Math</h4>
        <h5><strong>Standing:  Senior &amp; Master Year 1</strong></h5>
        <p>Qualcomm Internship: Three time Qualcomm intern!  Freshmen year he worked on the IP Multimedia Subsystem team. The team was in charge of Voice over IP and Voice over LTE calls. Andres was in the Early Identification Program and worked with a group of 3 other freshman interns to develop a testing infrastructure for these features. This included the simulation of packets and data over calls.</p>
        <p>Sophomore year he worked in the Windows Video team. He created an application which could parse files and generate encoded video files for testing. He had to create commands and perform all of the steps of video encoding inside the Microsoft Media Foundation on a 8.1 Windows Tablet.</p>
        <p>Junior year he worked on the FirefoxOS team. He worked on a lot of automated tools, learning python from scratch and learning a lot about bash. He had to learn the subsystems for the team and how to optimize any task they did by automating it. One of these included the automation of patch deletion. Builds could take anywhere up to 2 hours to test. It used to be stopped by conflicts between local patches and patches from Mozilla. He came up with a system to detect conflicts, merge all patches, and streamline the deletion of local patches to prevent future conflicts.</p>
      </div>
    </div>
  </div>
<% } %>
