<% if (user) { %>
<h2>Connect</h2>
<div id="createForm" class="col-xs-12 hidden">
</div>
<% } %>

<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item">Jamie Lewis</li>
    <li class="list-group-item">Purdue Campus Recruiter</li>
    <li class="list-group-item"><a href="mailto:jalewis@qualcomm.com">jalewis@qualcomm.com</a></li>
  </ul>
</div>
