<% if (user) { %>
  <div class="col-xs-12">
      <h2 class="header-left">Trivia</h2>
  </div>
  <div id="page-trivia" class="col-xs-12">
    <div id="countdown" style="font-family:'QualcommRegular';font-size:17px;color:red"></div>
    <br>
    <p>
        Play Qualcomm Trivia to win cool swag! On Wednesday, September 24 at 10am, QC Trivia will go live!<br>
        Answer questions about Qualcomm culture, technology, and programs to rack up points. Compete with friends
        and check your standing on the <a href="/trivia/leaderboard">leaderboard page</a>.<br>
        Prizes include Qualcomm hoodies, jerseys, T-shirts, and even an exclusive dinner with the Qualcomm campus team!
    </p>
    <p><b style="font-family: 'QualcommBold'">Platinum Prize</b>(Top three)<br>
        Dinner with the campus team (location TBD).<br>
        First place - bring two friends<br>
        Second place - bring one friend
    </p>
    <p><b style="font-family: 'QualcommBold'">Gold Prize</b>(Top five)<br>
        Qualcomm hoodie + Qualcomm jersey + Qualcomm T-shirt
    </p>
    <p><b style="font-family: 'QualcommBold'">Silver Prize</b>(Top twenty-five)<br>
        Qualcomm jersey + Qualcomm T-shirt
    </p>
    <p><b style="font-family: 'QualcommBold'">Bronze Prize</b>(Top fifty)<br>
        Qualcomm T-shirt
    </p>
    <br>
  </div>

  <script>
  startCounter = function() {
    // change for the desired end date
    // var target_date = new Date(<year> <month (0-11)>, <day>, <hours>, <minutes>, <seconds>);
    var target_date = new Date(2014, 8, 24, 10, 0, 0);      // christmas 2013

    updateTime(target_date);

    setInterval(function() {
        updateTime(target_date);
    }, 1000);
  }

  updateTime = function(target) {
    // get current time
    var current_date = new Date();

    // get countdown date
    time = Math.floor((target.getTime() - current_date.getTime()) / 1000);

    // assign values
    var days = Math.floor(time / 86400);
    time -= days * 86400;

    var hours = Math.floor(time / 3600);
    time -= hours * 3600;

    var minutes = Math.floor(time / 60);
    time -= minutes * 60;

    var seconds = time;

    var output = days + " days " + hours + " hours " + minutes + " minutes " + seconds + " seconds.";
    $("#countdown").html(output);
  }
  startCounter();
  </script>
<% } %>
