<% include navigation.ejs %>
<div id="container">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Create answer</h2>
            <br>
            <form role="form" id="answerForm">
                <div class="form-group" id="answerGroup">
                    <label class="control-label sr-only" for="answer">Enter Answer</label>
                    <input type="text" class="form-control" id="answer" name="answer" placeholder="Enter Answer">
                </div>
                <div class="form-group" id="answerEmailGroup">
                    <label class="control-label sr-only" for="email">Enter user email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>
                <div class="form-group" id="answerQuestionIdGroup">
                    <label class="control-label sr-only" for="question_id">Enter question id</label>
                    <input type="text" class="form-control" id="question_id" name="question_id" placeholder="Enter question id">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Create Answer</button>
                </div>

                <div class="form-group" id="alerts">
                    <% if (message) { %>
                    <div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= message %></div>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script>

    var errors = [];
    
    $("#answerForm").submit(function(e) {
        // stop from submitting normally
        e.preventDefault();

        // VALIDATION

        // remove all alerts
        $("#alerts").empty();
        $(".has-error").each(function(i, v) {removeError(v)});
        errors = [];

        // post the registration
        var postData = $(this).serializeArray();
        var posting = $.post("/createAnswer", postData);
        posting.done(function(data) {
            $.pjax({url: data, container: "#content"});
        });
    });

    function addError(element) {
        $(element).addClass("has-error");
        $(element).addClass("has-feedback");
        $(element).append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
    }

    function addAlert(msg) {
        // check for duplicate
        for (var i = 0; i < errors.length; i++) if (msg == errors[i]) return;

        $("#alerts").append("<div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'>" + msg + "</div>");
        errors.push(msg);
    }

    function removeError(element) {
        $(element).removeClass("has-error has-feedback");
        $(element).find("span").remove();
    }

</script>
