<% include navigation.ejs %>
<div id="container">
    <div id="page-events" class="page">
      <h2>Campus Events</h2>
      <p class="page-description">What and where is going on!</p>
    </div>
</div>
