<h2>Request a password reset</h2>
<br>
<form action="/forgotPassword" method="post" role="form" id="forgotPassword">
    <div class="form-group" id="emailGroup">
        <label class="control-label sr-only" for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
    </div>
    <div class="form-group" id="alerts">
        <% if (message) { %>
        <div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= message %></div>
        <% } %>
    </div>
</form>
