<div class="portrait">
  <div id="splash-screen" class="hidden">
    <div class="bg"></div>
  </div>
  <div id="general">
    <div id="header" class="clearfix">
      <a href="javascript:;" class="btn-nav"></a>
      <h1>
        <span class="logo">Purdue QC App</span>
        <span class="logo-small">Purdue QC App</span>
      </h1>
    </div>
    <div id="content">
      <div id="navigation">
        <ul>
          <li data-rel="news">
            <span class="nav-featured-ico nav-ico"></span>
            <span class="nav-featured-ico nav-ico on"></span>
            <span class="nav-arrow"></span>
            <a href="#!/news" onclick="javascript:_paq.push(['trackPageView', 'Menu/News']);" title="NEWS">QC Trivia</a>
          </li> 
          <li data-rel="events">
            <span class="nav-mail-ico nav-ico"></span>
            <span class="nav-mail-ico nav-ico on"></span>
            <span class="nav-arrow"></span>
            <a href="#!/events" onclick="javascript:_paq.push(['trackPageView', 'Menu/Events']);" title="INTERN EVENTS">Connect</a>
          </li>
          <li data-rel="program">
            <span class="nav-agenda-ico nav-ico"></span>
            <span class="nav-agenda-ico nav-ico on"></span>
            <span class="nav-arrow"></span>
            <a href="#!/program" onclick="javascript:_paq.push(['trackPageView', 'Menu/Program_Info']);" title="PROGRAM INFO">Campus Events</a>
          </li>
          <li data-rel="buzz">
            <span class="nav-featured-ico nav-ico"></span>
            <span class="nav-featured-ico nav-ico on"></span>
            <span class="nav-arrow"></span>
            <a href="#!/buzz" onclick="javascript:_paq.push(['trackPageView', 'Menu/Intern_Buzz']);" title="INTERN BUZZ">QC Tech</a>
          </li>
          <li data-rel="resources">
            <span class="nav-lines-ico nav-ico"></span>
            <span class="nav-lines-ico nav-ico on"></span>
            <span class="nav-arrow"></span>
            <a href="#!/resources" onclick="javascript:_paq.push(['trackPageView', 'Menu/Resources']);" title="RESOURCES">Profile</a>
          </li>
        </ul>
      </div>
      <div id="container">

        <div id="page-news" class="page" style="display:none;">
          <h2>Qualcomm Trivia</h2>
          <p class="page-description">All the triva. All the time.</p>
          <div class="content">
            <div class="clearfix">
              <ul id="page-news-col-left" class="default-list featured-list mr20 left"></ul>
              <ul id="page-news-col-right" class="default-list default-list-right featured-list left"></ul>
            </div>
            <ul id="page-news-full" class="default-list default-list-full featured-list"></ul>
          </div>
        </div>

        <div id="page-events" class="page" style="display:none;">
          <h2>Connect</h2>
          <p class="page-description">Connect and communicate with other interns.</p>
          <div class="content">
            <div class="clearfix">
              <ul id="page-events-col-left" class="default-list events-list mr20 left"></ul>
              <ul id="page-events-col-right" class="default-list default-list-right events-list left"></ul>
            </div>
            <ul id="page-events-full" class="default-list default-list-full events-list"></ul>
          </div>
        </div>

        <div id="page-program" class="page" style="display:none;">
          <h2>Campus Events</h2>
          <p class="page-description">What and where is going on!</p>
          <div class="content">
            <div class="clearfix">
              <ul id="page-program-col-left" class="default-list featured-list mr20 left"></ul>
              <ul id="page-program-col-right" class="default-list default-list-right featured-list left"></ul>
            </div>
            <ul id="page-program-full" class="default-list default-list-full featured-list"></ul>
          </div>
        </div>

        <div id="page-buzz" class="page" style="display:none;">
          <h2>Qualcomm Technology</h2>
          <p class="page-description">Check out the latest Qualcomm Technology!</p>
          <div class="content">
            <div class="clearfix">
              <ul id="page-featured-col-left" class="default-list featured-list mr20 left"></ul>
              <ul id="page-featured-col-right" class="default-list default-list-right featured-list left"></ul>
            </div>
            <ul id="page-featured-full" class="default-list default-list-full featured-list"></ul>
          </div>
        </div>

        <div id="page-resources" class="page" style="display:none;">
          <h2>Profile</h2>
          <p class="page-description">Edit your profile and stuff.</p>
          <div class="content">
            <div class="clearfix">
              <ul id="page-resources-col-left" class="default-list resources-list mr20 left"></ul>
              <ul id="page-resources-col-right" class="default-list default-list-right resources-list left"></ul>
            </div>
            <ul id="page-resources-full" class="default-list default-list-full resources-list"></ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="modal-screenlocker"></div>

  <div id="loader" class="fade"><!-- --></div>
  <script type="text/javascript" src="javascripts/data/data.js"></script>
  <script type="text/javascript" src="javascripts/libs/fbu.pie.js"></script>
  <script type="text/javascript" src="javascripts/comp/loader.js"></script>
  <script type="text/javascript" src="javascripts/comp/navigation.js"></script>
  <script type="text/javascript" src="javascripts/comp/video.js"></script>
  <script type="text/javascript" src="javascripts/comp/qtips.js"></script>
  <script type="text/javascript" src="javascripts/comp/content-manager.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>

</div>
