<h2>Log in</h2>
<br>
<form action="/login" method="post" role="form" id="loginForm">
    <div class="form-group" id="emailGroup">
        <label class="control-label sr-only" for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group" id="passwordGroup">
        <label class="control-label sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
    <div class="form-group">
        <div>Don't have an account? <a href="/register">Register</a></div>
    </div>
    <div class="form-group">
        <div><a href="/forgotpassword">Forgot your password?</a></div>
    </div>
    <div class="form-group" id="alerts">
        <% if (message) { %>
        <div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= message %></div>
        <% } %>
        <% if (infoMessage) { %>
        <div class='alert alert-info' style='padding: 5px 10px; margin: 5px 0px'><%= infoMessage %></div>
        <% } %>
    </div>
</form>

<script>

    var pass_len = 0;
    var errors = [];

    $("#loginForm").submit(function(e) {
        // VALIDATION
        var valid = true;

        // remove all alerts
        $("#alerts").empty();
        $(".has-error").each(function(i, v) {removeError(v)});
        errors = [];

        // validate username
        if ($("#email").val().trim() == "") {
            var msg = "Please enter your email";
            addError($("#emailGroup"));
            addAlert(msg);
            valid = false;
        }

        // validate password
        if ($("#password").val().trim() == ""){
            var msg = "Please enter your password";
            addError($("#passwordGroup"));
            addAlert(msg);
            valid = false;
        }
        else if ($("#password").val().trim().length < pass_len){
            var msg = "Invalid password";
            addError($("#passwordGroup"));
            addAlert(msg);
            valid = false;
        }

        return valid;
    });

    function addError(element) {
        $(element).addClass("has-error");
        $(element).addClass("has-feedback");
        $(element).append("<span class='glyphicon glyphicon-remove form-control-feedback'></span>");
    }

    function addAlert(msg) {
        // check for duplicate
        for (var i = 0; i < errors.length; i++) if (msg == errors[i]) return;

        $("#alerts").append("<div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'>" + msg + "</div>");
        errors.push(msg);
    }

    function removeError(element) {
        $(element).removeClass("has-error has-feedback");
        $(element).find("span").remove();
    }

</script>
