<div class="header navbar-default">
  <a href="/"><img class="header-logo" src="/images/logo.png"></a>
  <button type="button" id="sidebar-toggle" class="navbar-toggle">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-link">
      <a href="/events">
        <span class="fa fa-calendar circle"></span>
        <p>Campus Events</p>
      </a>
    </li>
    <li class="sidebar-nav-link">
      <a href="/tech">
        <span class="fa fa-mobile circle"></span>
        <p>QC Tech</p>
      </a>
    </li>

    <% if (user) { %>

      <li class="sidebar-nav-link">
        <a href="/trivia">
          <span class="fa fa-question circle"></span>
          <p>QC Trivia</p>
        </a>
      </li>
      <li class="sidebar-nav-link">
        <a href="/connect">
          <span class="fa fa-envelope circle"></span>
          <p>Connect</p>
        </a>
      </li>
      <li class="sidebar-nav-link">
        <a href="/careers">
          <span class="fa fa-briefcase circle"></span>
          <p>Careers</p>
        </a>
      </li>
      <li class="sidebar-nav-link">
        <a href="/logout">
          <span class="fa fa-sign-out circle"></span>
          <p>Logout</p>
        </a>
      </li>

    <% } else { %>

      <li class="sidebar-nav-link">
        <a href="/login">
          <span class="fa fa-sign-in circle"></span>
          <p>Login</p>
        </a>
      </li>

    <% } %>
  </ul>
</div>
