<h2>Set a new password</h2>
<br>
<form action="/passwordReset" method="post" role="form" id="passwordReset">
    <div class="form-group" id="emailGroup">
        <div class="form-group" style="display:none">
            <label class="control-label sr-only" for="token">Token</label>
            <input id="token" name="token"  value="<%= token %>">
        </div>

        <div class="form-group">
            <label class="control-label sr-only" for="password">New Password</label>
            <input class="form-control" id="password" name="password" type="password" placeholder='New Password'>
        </div>

        <div class="form-group">
            <label class="control-label sr-only" for="password_confirmation">Confirm New Password</label>
            <input class="form-control" id="password_confirmation" name="password_confirmation" type="password" placeholder='New Password Confirmation'>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
    </div>
    <div class="form-group" id="alerts">
        <% if (errorMessage) { %>
        <div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= errorMessage %></div>
        <% } %>
        <% if (infoMessage) { %>
        <div class='alert alert-info' style='padding: 5px 10px; margin: 5px 0px'><%= infoMessage %></div>
        <% } %>
    </div>
</form>
