<h2>Set a new password</h2>
<br>
<form action="/passwordReset" method="post" role="form" id="passwordReset">
    <div class="form-group" id="emailGroup">
        <label class="control-label sr-only" for="password">New Password</label>
        <input class="form-control" id="password" name="password" type="password">

        <label class="control-label sr-only" for="password_confirmation">Confirm New Password</label>
        <input class="form-control" id="password_confirmation" name="password_confirmation" type="password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
    </div>
    <div class="form-group" id="alerts">
        <% if (message) { %>
        <div class='alert alert-danger' style='padding: 5px 10px; margin: 5px 0px'><%= message %></div>
        <% } %>
    </div>
</form>
