<style>
    .start-page {
        background-image: none;
        background: -webkit-linear-gradient(#143856, #418890);
        color:white;
    }
</style>
<script>
    $(".content").addClass("start-page");
</script>

<div class="col-xs-12" style="margin: 20px 0">
    <img class="img-responsive" alt="qc.png" src="/images/qc.png">
</div>
