<style>
    .start-page {
        background-image: none;
        background: -webkit-linear-gradient(#143856, #418890);
        color: white;
    }
</style>
<script>
    $(".content").addClass("start-page");
</script>

<div class="row center-desktop">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
        <img class="img-responsive" alt="qc.png" src="/images/qc.png">
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div style="font-size:16pt;line-height:16pt;margin-top:20px">
            Welcome to Qualcomm's newest recruiting experience!  We’re piloting this web-based app exclusively at Purdue as a new way to engage with students.  Use the app to check out some of Qualcomm's cutting edge technology, explore career opportunities, meet the QCrew, and play trivia for a chance to win awesome prizes and swag.  All you need to get started and set-up your account is your Purdue email address.
        </div>
        <br>
        <a href="/login" class="btn btn-default" style="font-size:16pt">Get Started</a>
    </div>
</div>
