<div class="col-xs-12">
    <h2>Qualcomm Technology</h2>
</div>

<div id="tech" class="col-xs-12">
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/2net.jpg">
    <div class="caption">
      <h3><a href="http://www.qualcommlife.com/wireless-health" target="_blank">2net</a></h3>
      <p>2net offers a secure way to store and transfer biometric data from a variety of medical devices. This allows for the seamless aggregation of clinical data as well as personally tracked data, allowing for patients and physicians to work together in a more immediate fashion.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/adreno.PNG">
    <div class="caption">
      <h3><a href="https://developer.qualcomm.com/mobile-development/maximize-hardware/mobile-gaming-graphics-adreno/adreno-gpu" target="_blank">Adreno</a></h3>
      <p>The Adreno is Qualcomm's GPU featured in their Snapdragon SoCs. The newest iteration, the Adreno 420, has OpenGL ES 3.1 and Direct3D 11 functionality, bringing desktop class features to the Android space, while still offering the low power consumption that defines Qualcomm's SoCs.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/allplay.png">
    <div class="caption">
      <h3><a href="https://www.qualcomm.com/products/allplay" target="_blank">All Play</a></h3>
      <p>Built on the AllJoyn framework, All Play allows for any audio product that uses it to work together regardless of brand. This allows you to easily sync music across multiple speakers, or even play different music in different rooms of the house, all controlled from one device.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/gimbal.png">
    <div class="caption">
      <h3><a href="http://www.gimbal.com/" target="_blank">Gimbal</a></h3>
      <p>The Gimbal platform provides proximity beacons that use Bluetooth Smart (or Bluetooth Low Energy) to enhance a user's location based experience. Best known for its iBeacon, Gimbal is now an independent company with investment from Qualcomm.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/halo.png">
    <div class="caption">
      <h3><a href="http://www.qualcommhalo.com/" target="_blank">Halo</a></h3>
      <p>Qualcomm Halo is Qualcomm's Wireless Electric Vehicle Charging solution. Its goal is to transmit kilowatts across an air gap of a few hundred millimeters at minimal loss, allowing for wireless charging of EVs.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/hexagon.PNG">
    <div class="caption">
      <h3><a href="https://developer.qualcomm.com/mobile-development/maximize-hardware/multimedia-optimization-hexagon-sdk/hexagon-dsp-processor" target="_blank">Hexagon</a></h3>
      <p>Hexagon is Qualcomm's DSP processor that is a part of their Snapdragon SoC. Through its focus on low power, it allows for the "always on" processing of gestures, voice, sensor data that users have come to demand.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/img-alljoyn-logo.png">
    <div class="caption">
      <h3><a href="https://www.alljoyn.org/" target="_blank">AllJoyn</a></h3>
      <p>AllJoyn is an open source project began by Qualcomm that aims to provide a common language for the Internet of Things in order to allow for compatible smart things to "talk" to each other across brands and ecosystems.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/lte-direct.png">
    <div class="caption">
      <h3><a href="https://www.qualcomm.com/invention/research/projects/lte-direct" target="_blank">LTE Direct</a></h3>
      <p>LTE Direct, a Qualcomm research project, offers proximate discovery at a very low power consumption via licensed spectrum. This allows for a wide variety of services, including, but limited to, localized deals, scavenger hunts, and indicating points of interests to tourists.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/MARE.PNG">
    <div class="caption">
      <h3><a href="https://developer.qualcomm.com/mobile-development/maximize-hardware/parallel-computing-mare" target="_blank">MARE</a></h3>
      <p>MARE (Multicore Asynchronous Runtime Environment) is a library offered by Qualcomm that allows C++ developers to implement multicore parallelization in a much easier manner. The API can be used for any Android SoC, but also contains Snapdragon specific optimizations.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/toq.png">
    <div class="caption">
      <h3><a href="https://toq.qualcomm.com/" target="_blank">Toq</a></h3>
      <p>Released to demonstrate the possibilities of a smartwatch, the Toq features Android compatibility, speech recognition software from Nuance, wireless charging, and a Qualcomm Mirasol display. Thanks in large part to the efficient Mirasol display, the battery can last for up to 5 days.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/vuforia.png">
    <div class="caption">
      <h3><a href="https://www.vuforia.com/" target="_blank">Vuforia</a></h3>
      <p>Vuforia is an SDK developed by Qualcomm that provides developers with the tools necessary to create augmented reality apps. The best known app was created for the 2014 World Cup: McDonald's Gol! app.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/wigig.jpg">
    <div class="caption">
      <h3><a href="http://www.qca.qualcomm.com/mobile-connectivity/wigig-802-11ad/" target="_blank">WiGig</a></h3>
      <p>Developed by Qualcomm Atheros, WiGig (802.11ad) is a WiFi technology that uses the 60GHz band to deliver up to 7Gbps. What does this mean? Wireless displays, storage devices, and media centers. Awww yeah.</p>
    </div>
  </div>
  <div class="tech-thumbnail thumbnail">
    <img src="/images/qc-tech/zeroth.jpg">
    <div class="caption">
      <h3><a href="https://www.qualcomm.com/news/onq/2013/10/10/introducing-qualcomm-zeroth-processors-brain-inspired-computing" target="_blank">Zeroth</a></h3>
      <p>Zeroth processors are currently being developed by Qualcomm's R&D department. The goal of the project is to develop products that mimic biological learning as well see and sense as we do. These will be implemented in a Neural Processing Unit (NPU)</p>
    </div>
  </div>
</div>
