<% include navigation.ejs %>
<% if (user) { %>
<div id="container">
    <div id="page-trivia" class="page">
        <div id="questions" class="row" style="padding-right: 15px; padding-left: 15px">
            <% if (questions) { %>
                <% for (var i = 0; i < questions.length; i++) { %>
                    <div id="question_col<%= i %>" class="col-xs-3" style="padding-top: 15px; padding-bottom: 15px">
                        <div class="square">
                            <div id="question<%= i %>" class="trivia-tile">
                                <a href="/trivia/<%= questions[i] %>"><%= questions[i] %></a>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<% } %>
