<% include navigation.ejs %>
<h2>Leaderboard</h2>
<table class="table table-striped">
  <th>Name</th>
  <th>Score</th>

  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
  <tr>
    <td>Kirby Kohlmorgen</td>
    <td>23</td>
  </tr>
</table>
