<h2>Verify Email</h2>
<p>
    You need to verify your email before you can use the app!<br>
    If you did not receive an email, email Jamie at <a href="mailto:jalewis@qualcomm.com">jalewis@qualcomm.com</a>
</p>
