@font-face {
    font-family: 'QualcommBold';
    src: url('../fonts/qualcommweb-bold-webfont.eot');
    src: url('../fonts/qualcommweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-bold-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-bold-webfont.svg#QualcommBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QualcommLight';
    src: url('../fonts/qualcommweb-light-webfont.eot');
    src: url('../fonts/qualcommweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-light-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-light-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-light-webfont.svg#QualcommLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QualcommRegular';
    src: url('../fonts/qualcommweb-regular-webfont.eot');
    src: url('../fonts/qualcommweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-regular-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-regular-webfont.svg#QualcommRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: 'QualcommLight';
  height: 100%;
}

h1, h2 {
  font-family: 'QualcommRegular';
}

.header {
  height: 100px;
  background-image: url('../images/header-bg.png');
  background-size: 100%;
  text-align: center;
}

.header-logo {
  width: 300px;
  padding: 10px 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

#wrapper {
  height: 85%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 90px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 75px;
  width: 0;
  height: 100%;
  margin-left: -75px;
  overflow-y: auto;
  background: #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 90px;
}

#page-content-wrapper {
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: #f0f1f2;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -90px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute; /* so the content doesn't move on slide */
  /* top: 0; */
  /* width: 50px; */
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav-link {
  line-height: 19px;
  letter-spacing: -1px;
  text-align: center;
  padding: 25px 0;
  margin: 0 15px;
  font-size: 22px;
  border-bottom: 1px solid #CCC;
}

.sidebar-nav-link:last-child {
  border-bottom: 0px;
}

.sidebar-nav-link a {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.circle {
  width: 35px;
  height: 35px;
  padding-top: 7px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  margin-bottom: 10px;
}

.fa-question, .fa-mobile {
  font-size: 1.3em;
  padding-top: 4px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 135px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 135px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media(max-width:768px) {
  .header {
    height: 50px;
  }

  #wrapper {
    height: 90%;
  }

  .header-logo {
    width: 150px;
    padding: 5px 0;
    margin-left: -70px;
  }

  .sidebar-nav-link {
    line-height: 14px;
    padding: 10px 0;
    margin: 0 15px;
    font-size: 16px;
  }

  .circle {
    width: 25px;
    height: 25px;
    padding-top: 3px;
    margin-bottom: 3px;
  }

  .fa-question, .fa-mobile {
    font-size: 1.3em;
    padding-top: 1.5px;
  }
}
