@font-face {
    font-family: 'QualcommBold';
    src: url('../fonts/qualcommweb-bold-webfont.eot');
    src: url('../fonts/qualcommweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-bold-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-bold-webfont.svg#QualcommBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QualcommLight';
    src: url('../fonts/qualcommweb-light-webfont.eot');
    src: url('../fonts/qualcommweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-light-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-light-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-light-webfont.svg#QualcommLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QualcommRegular';
    src: url('../fonts/qualcommweb-regular-webfont.eot');
    src: url('../fonts/qualcommweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/qualcommweb-regular-webfont.woff') format('woff'),
         url('../fonts/qualcommweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/qualcommweb-regular-webfont.svg#QualcommRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: 'QualcommLight';
  height: 100%;
}

h1, h2 {
  font-family: 'QualcommRegular';
}

.header {
  height: 15%;
  background-image: url('../images/header-bg.png');
  background-size: 100%;
  text-align: center;
}

.header-logo {
  width: 300px;
  padding: 10px 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

#wrapper {
  height: 85%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 135px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 135px;
  width: 0;
  height: 100%;
  margin-left: -135px;
  overflow-y: auto;
  background: #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 135px;
}

#page-content-wrapper {
  height: 100%;
  width: 100%;
  padding: 15px;
  background-color: #f0f1f2;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -135px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute; /* so the content doesn't move on slide */
  /* top: 0; */
  /* width: 50px; */
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav-link {
  line-height: 19px;
  letter-spacing: -1px;
  text-align: center;
  padding-bottom: 25px;
  padding: 68px 0 25px;
  margin: 0 15px;
  font-size: 22px;
  border-bottom: 1px solid #CCC;
}

#sidebar-wrapper .sidebar-nax-link:last-child {
  border-bottom: 0px;
}

.sidebar-nav-link a {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

/* .sidebar-nav li a:hover { */
/*   text-decoration: none; */
/*   color: #fff; */
/*   background: rgba(255,255,255,0.2); */
/* } */
/*  */
/* .sidebar-nav li a:active, */
/* .sidebar-nav li a:focus { */
/*   text-decoration: none; */
/* } */
/*  */
/* .sidebar-nav > .sidebar-brand { */
/*   height: 65px; */
/*   font-size: 18px; */
/*   line-height: 60px; */
/* } */
/*  */
/* .sidebar-nav > .sidebar-brand a { */
/*   color: #999999; */
/* } */
/*  */
/* .sidebar-nav > .sidebar-brand a:hover { */
/*   color: #fff; */
/*   background: none; */
/* } */

@media(min-width:768px) {
  #wrapper {
    padding-left: 135px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 135px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media(max-width:768px) {
  .header {
    height: 7%;
  }

  #wrapper {
    height: 93%;
  }

  .header-logo {
    width: 150px;
    padding: 5px 0;
    margin-left: -70px;
  }
}
